/* .back-color-services {
    background-color: lavender;
} */

.ourServices .icon-boxes h3 {
    font-size: 28px;
    font-weight: 700;
    color: #394047;
    margin-bottom: 15px;
}

.ourServices .icon-box {
    margin-top: 40px;
}

.ourServices .icon-box .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid #b9d4ec;
    border-radius: 50px;
    transition: 0.5s;
}

.ourServices .icon-box .icon i {
    color: #428bca;
    font-size: 32px;
}

.ourServices .icon-box:hover .icon {
    background: #428bca;
    border-color: #428bca;
}

.ourServices .icon-box:hover .icon i {
    color: #fff;
}

.ourServices .icon-box .title {
    margin-left: 85px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
}

.ourServices .icon-box .title a {
    color: #343a40;
    transition: 0.3s;
}

.ourServices .icon-box .title a:hover {
    color: #428bca;
}

.ourServices .icon-box .description {
    margin-left: 85px;
    line-height: 24px;
    font-size: 14px;
}

/* @media (max-height: 500px) {
    .service-box {
        display: grid;
        grid-template-columns: 1fr;
    }

    .service-image {
        width: cover;
    }
} */